/* THEME DIM */

@use '../base/colors';

@media (prefers-color-scheme: dim) {
  :root {
    color-scheme: dim;

    // --brand-hue: var(--clr-blue-hue);
    // --accent-hue: var(--clr-crimson-hue);
    // --scorpio-hue: var(--clr-crimson-hue);
    // --sat-br: var(--clr-saturation-brand);
    // --light-br: var(--clr-light-brand);
    // --sat-ac: var(--clr-saturation-accent);
    // --light-ac: var(--clr-light-accent);

    /* set defaults */
    --brand: hsl(var(--brand-hue) var(--sat-br) var(--light-br));
    --accent: hsl(var(--accent-hue) var(--sat-ac) var(--light-br));
    --text-brand: hsl(var(--brand-hue) calc(var(--sat-br) / 1.5) var(--light-br));
    --text-accent: hsl(var(--accent-hue) calc(var(--sat-ac) / 1.5) var(--light-ac));
    --text-scorpio: hsl(var(--scorpio-hue) 75% 66%);
    --text1: hsl(var(--brand-hue) 15% 75%);
    --text2: hsl(var(--brand-hue) 10% 60%);
    --surface1: hsl(var(--brand-hue) 10% 20%);
    --surface2: hsl(var(--brand-hue) 10% 55%);
    --surface3: hsl(var(--brand-hue) 5% 30%);
    --surface4: hsl(var(--brand-hue) 5% 55%);
    --shadow: var(--brand-hue) 90% 13%;
    --shadow-strength: 0.3;
  }
}

/*Selector Html class */
[color-scheme='dim'] {
  color-scheme: dim;

  --brand: hsl(var(--brand-hue) var(--sat-br) var(--light-br));
  --accent: hsl(var(--accent-hue) var(--sat-ac) var(--light-br));
  --text-brand: hsl(var(--brand-hue) calc(var(--sat-br) / 1.5) var(--light-br));
  --text-accent: hsl(var(--accent-hue) calc(var(--sat-ac) / 1.5) var(--light-ac));
  --text-scorpio: hsl(var(--scorpio-hue) 75% 66%);
  --text1: hsl(var(--brand-hue) 15% 75%);
  --text2: hsl(var(--brand-hue) 10% 60%);
  --surface1: hsl(var(--brand-hue) 10% 20%);
  --surface2: hsl(var(--brand-hue) 10% 55%);
  --surface3: hsl(var(--brand-hue) 5% 30%);
  --surface4: hsl(var(--brand-hue) 5% 55%);
  --shadow: var(--brand-hue) 30% 13%;
  --shadow-strength: 0.3;
}
