/* THEME LIGHT */

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    /* set defaults */
    --brand: hsl(var(--brand-hue) var(--brand-sat) var(--brand-light));
    --accent: hsl(var(--accent-hue) var(--accent-sat) var(--brand-light));
    --text-brand: hsl(var(--brand-hue) var(--brand-sat) var(--brand-light));
    --text-accent: hsl(var(--accent-hue) var(--accent-sat) var(--accent-light));
    --text1: hsl(var(--brand-hue) var(--brand-sat) 10%);
    --text2: hsl(var(--brand-hue) 30% 30%);
    --text3: hsl(var(--brand-hue) calc(var(--brand-sat) / 2) 85%);
    --textW: hsl(var(--brand-hue) calc(var(--brand-sat) / 2) 85%);
    --surface1: hsl(var(--brand-hue) 25% 79%); //light 20% 89%
    --surface2: hsl(var(--brand-hue) 57% 55%); //normal 20% 82%
    --surface3: hsl(var(--brand-hue) 90% 37%); //medium 25% 75%
    --surface4: hsl(var(--brand-hue) 92% 27%); //dark 25% 70%
    --shadow: var(--brand-hue) 10% 20%;
    --shadow-strength: 0.02;
  }
}

/*Selector Html class */
[color-scheme='light'] {
  color-scheme: light;

  --brand: hsl(var(--brand-hue) var(--brand-sat) var(--brand-light));
  --accent: hsl(var(--accent-hue) var(--accent-sat) var(--brand-light));
  --text-brand: hsl(var(--brand-hue) var(--brand-sat) var(--brand-light));
  --text-accent: hsl(var(--accent-hue) var(--accent-sat) var(--accent-light));
  --text1: hsl(var(--brand-hue) var(--brand-sat) 10%);
  --text2: hsl(var(--brand-hue) 30% 30%);
  --text3: hsl(var(--brand-hue) calc(var(--brand-sat) / 2) 85%);
  --textW: hsl(var(--brand-hue) calc(var(--brand-sat) / 2) 85%);
  --surface1: hsl(var(--brand-hue) 20% 89%); //light 20% 89%
  --surface2: hsl(var(--brand-hue) 20% 82%); //normal 20% 82%
  --surface3: hsl(var(--brand-hue) 25% 75%); //medium 25% 75%
  --surface4: hsl(var(--brand-hue) 25% 70%); //dark 25% 70%
  --shadow: var(--brand-hue) 10% 20%;
  --shadow-strength: 0.02;
}
