#navigation {
  position: fixed;
  z-index: 9999;
  width: 100%;

  .navbar {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: var(--surface4);
    color: var(--text1);
    font-size: var(--fs-500);
    font-family: --ff-brand;

    .logo-avatar {
      padding: 0.75em;
    }
  }
  .navbar-links {
    height: 100%;

    ul {
      display: flex;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        a {
          display: block;
          text-decoration: none;
          padding: 1rem;
        }
        &:hover {
          background-color: var(--surface3);
        }
      }
    }
    .active {
      color: var(--text-accent);
    }
  }

  .toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--surface2);
    border-radius: 10px;
  }

  /* Language */
  .navbar-lang-links {
    height: 100%;

    ul {
      display: flex;
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        a {
          display: block;
          text-decoration: none;
          color: var(--text1);
          padding: 0.3rem;
        }
        &:last-child {
          margin-right: 2em;
        }
        &:hover {
          background-color: var(--surface3);
        }
        .active {
          color: var(--text-accent);
        }
      }
    }
  }

  /*------
* 50em = 800px
* 64em = 1024px
-----*/
  @media (max-width: 64em) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      min-height: 1em;
    }

    .toggle-button {
      display: flex;
    }

    .navbar-links {
      display: none;
      width: 100%;

      ul {
        width: 100%;
        flex-direction: column;

        li {
          text-align: center;

          a {
            padding: 0.5rem 1rem;
          }
          .active {
            display: flex;
          }
        }
      }
    }

    /* language */
    .navbar-lang-links {
      display: none;
      width: 100%;

      ul {
        width: 100vw;
        flex-direction: row;
        justify-content: center;

        li {
          text-align: center;

          a {
            justify-items: right;
            padding: 1rem 0.5rem;
          }
          &:last-child {
            margin-right: 0em;
          }
          .active {
            display: flex;
          }
        }
      }
    }
  }
}
