// PLACE FOR  GENERAL SCSS STYLES

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
}

main {
  //   margin-top: 10rem;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}
.grid {
  margin-top: 6rem;
}
