/* THEME LIGHT */

@use '../base/colors';

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    // --brand-hue: var(--clr-blue-hue);
    // --accent-hue: var(--clr-crimson-hue);
    // --scorpio-hue: var(--clr-crimson-hue);
    // --sat-br: var(--clr-saturation-brand);
    // --light-br: var(--clr-light-brand);
    // --sat-ac: var(--clr-saturation-accent);
    // --light-ac: var(--clr-light-accent);

    /* set defaults */
    --brand: hsl(var(--brand-hue) var(--sat-br) var(--light-br));
    --accent: hsl(var(--accent-hue) var(--sat-ac) var(--light-br));
    --text-brand: hsl(var(--brand-hue) var(--sat-br) var(--light-br));
    --text-accent: hsl(var(--accent-hue) var(--sat-ac) var(--light-ac));
    --text-scorpio: hsl(var(--scorpio-hue) 100% 66%);
    --text1: hsl(var(--brand-hue) var(--sat) 10%);
    --text2: hsl(var(--brand-hue) 30% 30%);
    --text3: hsl(var(--brand-hue) 20% 99%);
    --surface1: hsl(var(--brand-hue) 20% 75%);
    --surface2: hsl(var(--brand-hue) 20% 89%);
    --surface3: hsl(var(--brand-hue) 20% 82%);
    --surface4: hsl(var(--brand-hue) 25% 70%);
    --shadow: var(--brand-hue) 10% 20%;
    --shadow-strength: 0.02;
  }
}

/*Selector Html class */
[color-scheme='light'] {
  color-scheme: light;

  --brand: hsl(var(--brand-hue) var(--sat-br) var(--light-br));
  --accent: hsl(var(--accent-hue) var(--sat-ac) var(--light-br));
  --text-brand: hsl(var(--brand-hue) var(--sat-br) var(--light-br));
  --text-accent: hsl(var(--accent-hue) var(--sat-ac) var(--light-ac));
  --text-scorpio: hsl(var(--scorpio-hue) 100% 66%);
  --text1: hsl(var(--brand-hue) var(--sat) 10%);
  --text2: hsl(var(--brand-hue) 30% 30%);
  --surface1: hsl(var(--brand-hue) 25% 70%);
  --surface2: hsl(var(--brand-hue) 20% 89%);
  --surface3: hsl(var(--brand-hue) 20% 82%);
  --surface4: hsl(var(--brand-hue) 20% 75%);
  --shadow: var(--brand-hue) 10% 20%;
  --shadow-strength: 0.02;
}
