@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

:root {
  --ff-base: 'Baloo 2';
  --ff-brand: 'Baloo 2';
  --ff-accent: 'Syncopate', sans-serif;

  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;

  /*1rem = 16px => 14px = 14/16 = 0.75rem*/
  --fs-900: 3.5rem; /*56px*/
  --fs-800: 3rem; /*48px*/
  --fs-700: 2.5rem; /*40px*/
  --fs-600: 2rem; /*32px*/
  --fs-500: 1.5rem; /*24px*/
  --fs-400: 1rem; /*16px*/
  --fs-300: 0.875rem; /*14px*/
  --fs-200: 0.75rem; /*12px*/
  --fs-100: 0.5rem; /*8px*/

  --f-text-dec: none;

  --clr-boston-hue: 215;
  --clr-fern-hue: 150;
  --clr-razzle-hue: 310;
  --clr-crimson-hue: 360;
  --clr-crimson-dark-hue: 0; // hsl(0,100%, 56%)
  --clr-coral-hue: 30;
  --clr-sun-hue: 50;
  --clr-royal-hue: 280;

  --clr-blue-hue: 250; //hsl(240,100%,66%)
  --clr-green-hue: 120; //hsl(120, 100% , 66%)

  --clr-saturation-brand: 100%;
  --clr-light-brand: 33%;
  --clr-saturation-accent: 100%;
  --clr-light-accent: 66%;

  --brand-hue: var(--clr-boston-hue);
  --accent-hue: var(--clr-crimson-hue);
  --scorpio-hue: var(--clr-crimson-hue);
  --sat-br: var(--clr-saturation-brand);
  --light-br: var(--clr-light-brand);
  --sat-ac: var(--clr-saturation-accent);
  --light-ac: var(--clr-light-accent);
}
