footer {
  // position: relative;
  // left: 0;
  // bottom: 0;
  width: 100%;
  background-color: var(--surface4);
}
.copyright {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  color: var(--textW);
  font-family: var(--ff-brand);
  font-size: var(--fs-300);
  padding-block: 1.5rem;

  .scorpio,
  .domain {
    font-family: var(--ff-accent);
    font-weight: var(--fw-700);
    font-size: var(--fs-300);
    letter-spacing: 0.1rem;
    text-decoration: var(--f-text-dec);
  }
  .domain {
    &:link,
    &:hover,
    &:focus,
    &:visited {
      color: var(--brand);
    }
  }

  .scorpio {
    &:link,
    &:hover,
    &:active,
    &:visited {
      color: var(--scorpio-txt);
    }
  }
}
