/* COLOR PALETTE */
@use 'sass:map';

$txt: (
  'text1': #191a1d,
  'text2': #444857,
  'text3': #f2f2f2,
);
$crimson: (
  'hue': '354',
  'sat': '75%',
  'light': '51%',
  'txt': hsl(354, 75%, 51%),
  'surface1': hsl(354, 100%, 28%),
  'surface2': hsl(354, 87%, 38%),
  'surface3': hsl(354, 84%, 62%),
  'surface4': hsl(354, 90%, 72%),
);
$fern: (
  'hue': '151',
  'sat': '100%',
  'light': '36%',
  'txt': hsl(151, 100%, 36%),
  'surface1': hsl(151, 100%, 22%),
  'surface2': hsl(151, 100%, 28%),
  'surface3': hsl(151, 65%, 45%),
  'surface4': hsl(151, 55%, 55%),
);
$boston: (
  'hue': '198',
  'sat': '64%',
  'light': '46%',
  'txt': hsl(198, 64%, 46%),
  'surface1': hsl(198, 93%, 27%),
  'surface2': hsl(198, 92%, 37%),
  'surface3': hsl(198, 57%, 55%),
  'surface4': hsl(198, 61%, 67%),
);
$coral: (
  'hue': '16',
  'sat': '100%',
  'light': '66%',
  'txt': hsl(19, 96%, 63%),
  'surface1': hsl(19, 84%, 40%),
  'surface2': hsl(19, 84%, 55%),
  'surface3': hsl(19, 100%, 73%),
  'surface4': hsl(19, 100%, 81%),
);
$razzle: (
  'hue': '310',
  'sat': '87%',
  'light': '62%',
  'txt': hsl(310, 87%, 62%),
  'surface1': hsl(310, 100%, 44%),
  'surface2': hsl(310, 83%, 53%),
  'surface3': hsl(310, 89%, 71%),
  'surface4': hsl(310, 91%, 82%),
);
$royal: (
  'hue': '291',
  'sat': '48%',
  'light': '30%',
  'txt': hsl(291, 48%, 30%),
  'surface1': hsl(291, 96%, 11%),
  'surface2': hsl(291, 68%, 20%),
  'surface3': hsl(291, 33%, 41%),
  'surface4': hsl(291, 24%, 55%),
);
$sun: (
  'hue': '47',
  'sat': '89%',
  'light': '62%',
  'txt': hsl(35, 89%, 62%),
  'surface1': hsl(35, 87%, 37%),
  'surface2': hsl(35, 79%, 50%),
  'surface3': hsl(35, 100%, 71%),
  'surface4': hsl(35, 100%, 80%),
);

:root {
  @each $key, $value in $boston {
    --brand-#{$key}: #{$value};
  }
  @each $key, $value in $fern {
    --accent-#{$key}: #{$value};
  }
  @each $key, $value in $crimson {
    --scorpio-#{$key}: #{$value};
  }
}

.text-brand {
  color: var(--brand);
}
.text-accent {
  color: var(--accent);
}
.text1 {
  color: var(--text1);
}
.text2 {
  color: var(--text2);
}
.text3 {
  color: var(--text3);
}
.textW {
  color: var(--textW);
}
.surface1 {
  background-color: var(--surface1);
}
.surface2 {
  background-color: var(--surface2);
}
.surface3 {
  background-color: var(--surface3);
}
.surface4 {
  background-color: var(--surface4);
}

html,
body {
  color: var(--text1);
  background-color: var(--surface1);
}

h1,
h2,
h3 {
  color: var(--accent);
}
