/* GENERAL TYPOGRAPHY INFORMATION */
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables';

:root {
  //brand
  --ff-b: var(--ff-brand);
  --fw-b: var(--fs-400);
  --fs-b: var(--fs-400);
  --lh-b: 1.5;
  //headers
  --ff-h: var(--ff-accent);
  --fw-h: var(--fw-400);
  --fs-h1: var(--fs-700);
  --fs-h2: var(--fs-600);
  --fs-h3: var(--fs-500);
  --lh-h: 1;
  //navigation links
  --nav-a-fs: var(--fs-500);
  --nav-a-td: var(--f-text-dec);
}

@include mix.mq() {
  :root {
    //brand
    --ff-b: var(--ff-brand);
    --fw-b: var(--fs-500);
    --fs-b: var(--fs-500);
    --lh-b: 1.5;
    //headers
    --ff-h: var(--ff-accent);
    --fw-h: var(--fw-700);
    --fs-h1: var(--fs-800);
    --fs-h2: var(--fs-700);
    --fs-h3: var(--fs-600);
    --lh-h: 1;
    //navigation links
    --nav-a-fs: var(--fs-600);
    --nav-a-td: var(--f-text-dec);
  }
}

body {
  font-family: var(--ff-b);
  font-weight: var(--fw-b);
  font-size: var(--fs-b);
  line-height: var(--lh-b);
}

h1,
h2,
h3 {
  font-family: var(--ff-h);
  font-weight: var(--fw-h);
  line-height: var(--lh-h);
  text-transform: uppercase;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
